html, body {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #1f1c2c 0%, #928dab 100%); /* Градиентный фон для всей страницы */
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-main {
  background: #2c2c34; /* Темный фон для формы */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Более выраженная тень */
  text-align: center;
  width: 100%;
  max-width: 400px;
  color: #e0e0e0; /* Цвет текста внутри формы */
}

.form-main h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff; /* Цвет заголовка */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Больше тени для заголовка */
  transition: color 0.3s ease;
}

.name-doc {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff; /* Цвет названия */
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #3a3a45; /* Темный фон для полей ввода */
  color: #e0e0e0; /* Цвет текста в полях ввода */
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #b0b0b0; /* Цвет плейсхолдера */
}

button.submit {
  width: 100%;
  padding: 15px;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s ease;
}

button.submit:hover {
  background: linear-gradient(90deg, #2575fc 0%, #6a11cb 100%);
}

button {
  background: none;
  border: none;
  color: #6a11cb;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  text-decoration: underline;
}

.link-register {
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  color: #fcfcfc;
  font-size: 14px;
  cursor: pointer;
}
.spacer {
  height: 20px; /* Регулируйте высоту по мере необходимости */
}
.link-register:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .form-main {
    padding: 30px;
    max-width: 90%;
  }
  
  .name-doc {
    font-size: 36px;
  }
  
  .form-main h2 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .form-main {
    padding: 20px;
    max-width: 95%;
  }
  
  .name-doc {
    font-size: 28px;
  }
  
  .form-main h2 {
    font-size: 18px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    padding: 8px;
    font-size: 14px;
  }
  
  button.submit {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    font-size: 12px;
  }
  
  .link-register {
    font-size: 12px;
  }
}
